{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/sympform.css' %}">
    <title>Symptom Form</title>
  </head>
  <body>
  {% if msg %}
    <div class="alert alert-success" role="alert">
      {{msg}}
    </div>
    {% endif %}
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit"
    class="btn btn-danger" style="  
   margin-top: 1px;
   margin-right: 2px;
   position:absolute;
   top:0;
   right:0;"
    >Logout</button>
  </form>
  <div class="container-fluid">
    <div class="row main-row">
        <div class="col-12 col-md-6 imgdiv">
            <img class="docpat" src="{% static 'imgs/4990224.jpg' %}" alt="" srcset="">
        </div>
        <div class="col-12 col-md-6 pb-4 formdiv">
          <div class="form-container">
            <form action="" method="post">
            {% csrf_token %}
              <h1 class="text-center my-4">
                New Prescription
              </h1>
              
                <div class="mb-3" 
                >
                    <label for="pid" >Patient ID : </label>
                  <input type="text" placeholder="Enter the patient id" name="pid" class="form-control" id="pid" aria-describedby="emailHelp">
                  <button class="btn btn-warning mb-2" s>
                    Get Patient Details 
                </button>
                </div>
               
          


              
              <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" name="age" class="form-control" id="age" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input type="number" name="weight" class="form-control" id="weight" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="height" class="form-label">height</label>
                <input type="number" name="height" class="form-control" id="height" aria-describedby="emailHelp">
              </div>
              {{doctors_list}}
              <label for="doc">Choose doctor</label>
              <select  name="doctor_selected" id="doc" placeholder="Pick a Doctor...">
                <option value="">Select a state...</option>
                {%for doctor in speciality_list %}
                  <option value="{{doctor}}">{{doctor}}</option>
                {% endfor %}
              </select>

   
              <button type="submit" class="btn btn-primary">Send to Doctor</button>
            </form>
          </div>
        </div>
    </div>
  </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    
        $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });

  </script>
  </body>
</html>
