{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/sympform.css' %}">
    <title>Symptom Form</title>
  </head>
  <body>
    {% include "navbar.html" %}
  {% if msg %}
    <div class="alert alert-success" role="alert">
      {{msg}}
    </div>
    {% endif %}
 
  <div class="container-fluid">
    <div class="row main-row">
        <div class="col-12 col-md-6 imgdiv">
            <img class="docpat" src="{% static 'imgs/4990224.jpg' %}" alt="" srcset="">
        </div>
        <div class="col-12 col-md-6 pb-4 formdiv">
          <div class="form-container">
            <form action="" method="post">
            {% csrf_token %}
              <h1 class="text-center my-4">
                New Prescription
              </h1>
              
                <div class="mb-3" 
                >
                    <label for="pid" >Patient ID : </label>
                  <input type="text" placeholder="Enter the patient id" name="pid" class="form-control" id="pid" aria-describedby="emailHelp">
           
                </div>
             

                <button type="button" class="addService btn btn-warning">Add</button>
                <table class="table " id="tabx"> 
                  <thead>
                    <tr>
                     
                      <th scope="col">Name </th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Dose</th>
                    </tr>
                  </thead>
                  <tbody class="tbd">
                    <tr class="item">
                      <td><input type="text" id="med" name='val1'></td>
                      <td><input type="text" id="qty" name='val2'></td>
                      <td><input type="text" id="dose" name='val3'></td>
                    </tr>
                  </tbody>
                </table>
              <button type="button" id="sub" class="btn btn-primary" > Prescribe</button>
            </form>
          </div>
        </div>
    </div>
  </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>



function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }


    
        $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });


var val1 = -1;


  $(document).ready(function() {
 
  $('.addService').on('click', function() {
    var field = '<tr class="item"><td><input type="text" id="med" name="val1"></td><td><input type="text" id="qty" name="val2"></td><td><input type="text" id="dose" name="val3"></td></tr>';
    $('.tbd').append(field);
  
  })
})


  $('#sub').on('click', function() {
    var pid=$('#pid').val();
    
    if(pid == ""){
      alert("Enter the Patient ID")
    }
    else {

    

    datamain=[]

    var data = $('.item').map(function() {
   
      
        item = {};
        var id = $(this).find('[name="val1"]').val();
        var qt= $(this).find('[name="val2"]').val();
        var dose= $(this).find('[name="val3"]').val();
        item['med'] = id;
        item['qty'] = qt;
        item['dose'] = dose;
        datamain.push(item);
    
   
});
var jsonString = JSON.stringify(datamain);
console.log(datamain);
var csrf_token = getCookie('csrftoken');
$.ajax(
  {
  type:"POST",
  dataType: "json",
  
  url: "{% url 'entry' %}",
  
  data:{
      datamain : JSON.stringify(datamain),
      patient : pid,
      csrfmiddlewaretoken: csrf_token
  },
  success: function(data){
      alert(data["success"])
  },
  error:function(response){
  console.log(response)
   alert(response.responseJSON.error);
  }
  }
  )

}

  });


  </script>
  </body>
</html>
