<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <title>Document</title>
</head>

<body>
    <div>
        <div class="dashbord_container">
            <div class="profile_card">
                <div class="profileimg">
                    <img id="picpic" src="{% static 'imgs/profile1.jpeg' %}" alt="Profile Pic">
                    <div>
                        <h1>John Adam</h1>
                        <p class="title">Patient ID : {{p_obj.patient_id }}</p>
                    </div>
                </div>
                <div class="basic_details">
             
                    <p>Height: {{p_obj.height}}</p>
                    <p>weight: {{p_obj.weight}}</p>
                    <p>DOB : {{p_obj.dob}}</p>
                    <p>Blood Gorup: {{p_obj.bloodgroup}} </p>
                    <p>Contact No.: {{p_obj.contact }}</p>
                    <p>Pre. Medical History:  {{p_obj.pre_med_hist }}</p>
                </div>

            </div>
            <div class="hide_on_mob">
                <img src="{% static 'imgs/37450-pharmacist-will-call-medical-animation.gif' %}" />
            </div>
        </div>
        <div class="dashbord_container">
            <div class="hide_on_mob">
                <img src="{% static 'imgs/18469-stay-safe.gif' %}" />
            </div>


            <div class="pres_container">
               

                  {% for key,value in t_data.items %}  
                 
                   <div class="presc_card">

                    <div class="basic_details">
                        <p>Date: {{key.date}}</p>
                        <p class="intro">{{key.note}}</p>
                        <h2>medicine</h2>
                        {% for val in value %}
                       <p> {{val}} </b> 
                       <br>
                        {% endfor %}
                       
                   
                    </div>
                   </div>

                  {% endfor %}

              




            </div>
        </div>

    </div>
    </div>
</body>

</html>